@use '../abstracts/variables';

@mixin donwload-link {
    margin: variables.$size-med;
    font-weight: 500;
    transition: font-weight .5s;

    &:hover {
        font-weight: 700;
    }
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    
    min-width: 100dvw;
    min-height: 100dvh;

    background-color: variables.$modal;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modal {
        position: relative;
        overflow-y: scroll;
        margin: 1em;
        width: 90dvw;
        max-height: 80dvh;
        // border-radius: 5px;
        background-color: variables.$light-mode;

        .back-btn {
            position: absolute;
            top: 15px;
            left: 15px;

            background: none;
            border: none;
            cursor: pointer;
        }
        
        scrollbar-width: none;
        
        #album-content {
            @media screen and (min-width: 1440px) {
                display: flex;
                // flex-direction: row-reverse;
            }
            
            .persona-art {
                max-width: 100%;
                object-fit: cover;
                @media screen and (min-width: 768px) { aspect-ratio: 3 / 1; }
                @media screen and (min-width: 1440px) {
                    max-width: 25dvw;
                    max-height: 90dvh;
                }
            }
            
            .container-album-info {
                color: variables.$b;
                display: flex;
                flex-direction: column;

                #album-info {
                    padding: variables.$size-max variables.$size-max 0 variables.$size-max;
                }

                .show-only-mobile {
                    display: none;
                    @media screen and (max-width: 1440px) {
                        display: block;
                        padding-left: 1em;
                        @include donwload-link;
                    }
                }
                
                .grid {
                    @media screen and (min-width: 1440px) { 
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                    
                    #song-list {
                        margin: variables.$size-med;
                        padding: variables.$size-med;
                        
                        @media screen and (min-width: 1440px) {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            height: 60dvh;
                            overflow-y: scroll;
                            scrollbar-width: none;
                            border-right: .05em solid variables.$b;
                        }
                        .song-item {
                            margin-bottom: 5px;
                            cursor: pointer;
                        }
                    }
                    
                    #discography {
                        display: none;
                        @media screen and (min-width: 1440px) {
                            display: block;
                            overflow-y: scroll;
                            scrollbar-width: none;
                            padding: variables.$size-max;
                            // width: 100%;
                            height: 55dvh;
                        }
                    }
                }

                #download-link {
                    display: none;
                    @media screen and (min-width: 1440px) {
                        display: block;
                        @include donwload-link;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.modal-enter-active, .modal-leave-active { transition: all .25s ease; }
.modal-enter-from, .modal-leave-to { transform: scale(1.1); opacity: 0; }