@use '../abstracts/variables';

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    // right: 0;
    // bottom: 0;
    
    min-width: 100dvw;
    min-height: 100dvh;

    background-color: #000000ad;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modal {
        // border: 4px solid blue;
        min-width: 90dvw;
        min-height: 80dvh;
        position: relative;
        background-color: white;
        padding: variables.$size-small;
        border-radius: 5px;

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;

            background: none;
            border: none;
            cursor: pointer;
        }
    }
}

.modal-enter-active, .modal-leave-active {
    transition: all .7s ease;
}

.modal-enter-from, .modal-leave-to {
    transform: scale(1.1);
    opacity: 0;
}