@use '../abstracts/variables';

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    
    min-width: 100dvw;
    min-height: 100dvh;

    background-color: #000000ad;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modal {
        position: relative;
        overflow-y: scroll;
        margin: 1em;
        width: 90dvw;
        max-height: 80dvh;
        border-radius: 5px;
        background-color: variables.$light-mode;

        .back-btn {
            position: absolute;
            top: 15px;
            left: 15px;

            background: none;
            border: none;
            cursor: pointer;
        }

        scrollbar-width: none;

        #album-content {
            @media screen and (min-width: 1440px) {
                display: flex;
                flex-direction: row-reverse;
            }
            
            .cover-art {
                // max-width: 100%;
                // max-height: 100%;
                
                // object-fit: cover;
                // @media screen and (min-width: 1440px) {
                //     max-width: 20%;
                //     object-fit: cover;
                // }
                
                // @media screen and (min-width: 768px) { aspect-ratio: 3 / 1; }
            }

            .persona-art {
                max-width: 100%;
                max-height: 100%;
                
                object-fit: cover;
                @media screen and (min-width: 1440px) {
                    max-width: 20%;
                    object-fit: cover;
                }
                
                @media screen and (min-width: 768px) { aspect-ratio: 3 / 1; }
            }
            
            .container-album-info {
                border: 6px solid firebrick;
                @media screen and (min-width: 900px) {
                    width: 100%;
                }

                #album-info {
                    color: variables.$b;
                    margin: variables.$size-med 0 variables.$size-med variables.$size-med;
                    .album-title {}
                    .album-persona {}
                }
                
                #song-list {
                    // display: grid;
                    // grid-template-columns: repeat(4, 1fr);
                    margin: variables.$size-med 0 variables.$size-med variables.$size-med;
                    color: variables.$b;
                    
                    @media screen and (max-width: 900px) {
                        // display: flex;
                        // flex-direction: column;
                    }
                    .song-item { margin-bottom: 4px;}
                }
                
                .download-link {
                    color: variables.$b;
                    // padding: variables.$size-small;
                    margin: variables.$size-med;
                }
            }
        }
    }
}

.modal-enter-active, .modal-leave-active { transition: all .25s ease; }
.modal-enter-from, .modal-leave-to { transform: scale(1.1); opacity: 0; }