@use '../abstracts/variables';

#container-folder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // z-index: -1;
    border: 4px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    // background-color: red;

    @media (min-width: (variables.$size-media-query-tablet - 68px)) {
        flex-direction: row;
    }
}