@use '../abstracts/variables';
@use '../components/modal' as *;

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
    .options-top {
        display: flex;
        justify-content: space-between;
        padding: variables.$size-max;        
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        .project-name {
            height: 1.5em;
            @include donwload-link;
        }
        
        .menu-dropdown-holder {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .menu-options {
                .options {
                    width: 4.7em;
                    text-align: right;
                    transition: font-weight .3s;
                    
                    &:hover { font-weight: 700; }
                    
                    #icons {
                        display: flex;
                        justify-content: end;
                        margin-top: variables.$size-max;
                        .btn-cta {
                            border: none;
                            cursor: pointer;
                            padding: variables.$size-minimal;
                            background-color: variables.$no-bg-color;
                        }
                    }
                }
            }
        }
    }
}