$b: black;
$w: #fcf7f8;
$no-bg-color: transparent;
$first-color: #202122;
$second-color: #102542;
$third-color: #1E201E;
$fourth-color: #a31621;

$font-family-main: "Noto Sans Display", sans-serif;

$size-blaster: 7em;
$size-maximus: 5em;
$size-max: 2em;
$size-med: 1em;
$size-small: .5em;
$size-minimal: .2em;