$b: black;
$w: white;
$no-bg-color: transparent;
$primary-color: #1E201E;
$secondary-color: #3C3D37;
$tertiary-color: #697565;
$quaternary-color: #ECDFCC;

$font-family-main: "Noto Sans Display", sans-serif;

$size-max: 2em;
$size-med: 1em;
$size-small: .5em;
$size-minimal: .2em;